@use "@/styles/mixins.module.scss" as mixins;
// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import "@/styles/mixins.module.scss";

/*************************************************** APP CSS ***************************************************/
.googleBtn {
  min-height: 48px;
  min-width: 48px;
}

.mw-max {
  max-width: max-content;
}

body {
  transition: ease-in-out 250ms all;
}

.fsz-0 {
  font-size: calc(12rem / 16);
}

.cardListText,
.fsz-1 {
  font-size: calc(12rem / 16);
  line-height: 1;

  @include mixins.sm {
    font-size: calc(14rem / 16);
    line-height: 1.15;
  }
}

.fsz-2 {
  font-size: calc(13rem / 16);

  @include mixins.sm {
    font-size: calc(15rem / 16);
  }
}

.fsz-3 {
  font-size: calc(14rem / 16);

  @include mixins.sm {
    font-size: calc(16rem / 16);
  }
}

.white-text {
  color: #fff;
}

.cursor-alias {
  cursor: alias;
}
.cursor-all-scroll {
  cursor: all-scroll;
}
.cursor-auto {
  cursor: auto;
}
.cursor-cell {
  cursor: cell;
}
.cursor-context-menu {
  cursor: context-menu;
}
.cursor-col-resize {
  cursor: col-resize;
}
.cursor-copy {
  cursor: copy;
}
.cursor-crosshair {
  cursor: crosshair;
}
.cursor-default {
  cursor: default;
}
.cursor-e-resize {
  cursor: e-resize;
}
.cursor-ew-resize {
  cursor: ew-resize;
}
.cursor-grab {
  cursor: -webkit-grab;
  cursor: grab;
}
.cursor-grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.cursor-help {
  cursor: help;
}
.cursor-move {
  cursor: move;
}
.cursor-n-resize {
  cursor: n-resize;
}
.cursor-ne-resize {
  cursor: ne-resize;
}
.cursor-nesw-resize {
  cursor: nesw-resize;
}
.cursor-ns-resize {
  cursor: ns-resize;
}
.cursor-nw-resize {
  cursor: nw-resize;
}
.cursor-nwse-resize {
  cursor: nwse-resize;
}
.cursor-no-drop {
  cursor: no-drop;
}
.cursor-none {
  cursor: none;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-progress {
  cursor: progress;
}
.cursor-row-resize {
  cursor: row-resize;
}
.cursor-s-resize {
  cursor: s-resize;
}
.cursor-se-resize {
  cursor: se-resize;
}
.cursor-sw-resize {
  cursor: sw-resize;
}
.cursor-text {
  cursor: text;
}
.cursor-w-resize {
  cursor: w-resize;
}
.cursor-wait {
  cursor: wait;
}
.cursor-zoom-in {
  cursor: zoom-in;
}
.cursor-zoom-out {
  cursor: zoom-out;
}

.slick-track {
  height: unset !important;
}

.span-full {
  grid-column: 1/-1;
}

.spany-full {
  grid-rows: 1/-1;
}

.qty__text::-webkit-outer-spin-button,
.qty__text::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty__text[type="number"] {
  -moz-appearance: textfield;
}

.image-gallery-content.left {
  & .image-gallery-left-nav .image-gallery-svg,
  & .image-gallery-right-nav .image-gallery-svg {
    height: 60px;
    width: 30px;
  }
}

.image-gallery-content.left.fullscreen {
  & .image-gallery-left-nav .image-gallery-svg,
  & .image-gallery-right-nav .image-gallery-svg {
    height: 120px;
    width: 60px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  cursor: grab;
  scroll-behavior: smooth;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.image-gallery-thumbnails-wrapper.left,
.image-gallery-thumbnails-wrapper.right {
  @media (max-width: 768px) {
    width: 50px !important;
  }
}

.image-gallery-thumbnail {
  @media (max-width: 768px) {
    width: 50px !important;
  }
}

.image-gallery-slide-wrapper.left,
.image-gallery-slide-wrapper.right {
  @media (max-width: 768px) {
    width: calc(100% - 57px) !important;
  }
}

.image-gallery-slide .image-gallery-image {
  height: 170px !important;
  @media (min-width: 576px) {
    height: 250px !important;
  }
  @media (min-width: 768px) {
    height: 400px !important;
  }
}

.image-gallery {
  height: 100% !important;
}

.image-gallery-content {
  height: 100% !important;
}

.image-gallery-slide-wrapper.left,
.image-gallery-slide-wrapper.right {
  height: 100% !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tab-content > .active {
  position: relative;
  z-index: 1;
}

.justify-items-center {
  justify-items: center;
}

.lh-0 {
  line-height: 0;
}

.child-d-grid > * {
  display: grid;
}

.child-w-100 > * {
  width: 100%;
}

.childImages-w-100 img {
  width: 100%;
}

.child-gap-1 > * {
  gap: 0.25rem !important;
}

.child-gap-2 > * {
  gap: 0.5rem !important;
}

.child-gap-3 > * {
  gap: 1rem !important;
}

.child-gap-4 > * {
  gap: 1.5rem !important;
}

.child-gap-5 > * {
  gap: 3rem !important;
}

.hover-grow-1 {
  transition: 250ms ease-in-out all;
  &:hover {
    transform: scale(1.025);
  }
}

.hover-grow-2 {
  transition: 250ms ease-in-out all;
  &:hover {
    transform: scale(1.05);
  }
}

.hover-grow-3 {
  transition: 250ms ease-in-out all;
  &:hover {
    transform: scale(1.075);
  }
}

.hover-grow-4 {
  transition: 250ms ease-in-out all;
  &:hover {
    transform: scale(1.1);
  }
}

.hover-hide-50 {
  transition: 250ms ease-in-out all;
  &:hover {
    opacity: 50%;
  }
}

.img-contain {
  object-fit: contain;
}

.img-cover {
  object-fit: cover;
}

.rounded-top-start-1 {
  border-top-left-radius: 0.25rem;
}

.rounded-top-end-1 {
  border-top-right-radius: 0.25rem;
}

.rounded-bottom-start-1 {
  border-bottom-left-radius: 0.25rem;
}

.rounded-bottom-end-1 {
  border-bottom-right-radius: 0.25rem;
}

.rounded-top-start-2 {
  border-top-left-radius: 0.375rem;
}

.rounded-top-end-2 {
  border-top-right-radius: 0.375rem;
}

.rounded-bottom-start-2 {
  border-bottom-left-radius: 0.375rem;
}

.rounded-bottom-end-2 {
  border-bottom-right-radius: 0.375rem;
}

.Scrollbar-01,
.Scrollbar-01 * {
  scrollbar-width: thin;
  scrollbar-color: mixins.$blue-2 #bdbdbd;
}

.Scrollbar-01::-webkit-scrollbar,
.Scrollbar-01 *::-webkit-scrollbar {
  width: 8px;
}

.Scrollbar-01::-webkit-scrollbar-track,
.Scrollbar-01 *::-webkit-scrollbar-track {
  background: #bdbdbd;
}

.Scrollbar-01::-webkit-scrollbar-thumb,
.Scrollbar-01 *::-webkit-scrollbar-thumb {
  background-color: mixins.$blue-2;
  border-radius: 0px;
  border: 0px none #ffffff;
}

.btn-dlss3 img {
  max-width: 100%;
  height: auto;
}

.btn-dlss3 .absolute {
  position: absolute;
}

.btn-dlss3 .top {
  top: 0;
}

.btn-dlss3 .h100 {
  height: 100%;
}

.btn-dlss3 .w100 {
  width: 100%;
}

.btn-dlss3 .flex {
  display: flex;
}

.btn-dlss3 .bg-dark-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-dlss3 .flex-center {
  justify-content: center;
  align-content: center;
  display: flex;
}

.dlss3Head {
  font-size: calc(20rem / 16) !important;
  line-height: 1;
  padding: 0.5rem;
}

.dlss3btn img {
  object-fit: cover;
  height: 100%;
}

.text-orange {
  color: #fd7e14;
}

.text-purple {
  color: #6f42c1;
}

.animatedBtn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;

  overflow: hidden;

  &:active,
  &:hover,
  &:focus {
    outline: 0 !important;
    outline-offset: 0;
  }
  &::before,
  &::after,
  & > span::before,
  & > span::after {
    position: absolute;
    content: "";
  }

  &.roundy {
    border-radius: 8px;

    &::before,
    & > span::before {
      border-radius: 8px 0 0 8px;
    }

    &::after,
    & > span::after {
      border-radius: 0px 8px 8px 0px;
    }
  }

  & > span {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s;
  }

  &.hover_border-show::before {
    opacity: 0%;
  }

  &.hover_border-show:hover::before {
    opacity: 100%;
  }

  &.hover_border-show::after {
    opacity: 0%;
  }

  &.hover_border-show:hover::after {
    opacity: 100%;
  }

  /*--- btn-1 ---*/
  &-1::before {
    background-color: rgb(28, 31, 30);
    transition: 0.3s ease-out;
  }
  &-1 > span {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(28, 31, 30);
    transition: 0.2s 0.1s;
  }
  &-1 > span:hover {
    color: rgb(28, 31, 30);
    transition: 0.2s 0.1s;
  }

  /* 1.hover-filled-slide-down */
  &.hover-filled-slide-down::before {
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
  &.hover-filled-slide-down:hover::before {
    height: 0%;
  }

  /* 2.hover-filled-slide-up */
  &.hover-filled-slide-up::before {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
  &.hover-filled-slide-up:hover::before {
    height: 0%;
  }

  /* 3.hover-filled-slide-left */
  &.hover-filled-slide-left::before {
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &.hover-filled-slide-left:hover::before {
    width: 0%;
  }

  /* 4. hover-filled-slide-right */
  &.hover-filled-slide-right::before {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
  &.hover-filled-slide-right:hover::before {
    width: 0%;
  }

  /* 5. hover-filled-opacity */
  &.hover-filled-opacity::before {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  &.hover-filled-opacity:hover::before {
    opacity: 0;
  }

  /*--- btn-2 ---*/
  &-2::before {
    background-color: rgb(28, 31, 30);
    transition: 0.3s ease-out;
  }
  &-2 > span {
    color: rgb(28, 31, 30);
    border: 1px solid rgb(28, 31, 30);
    transition: 0.2s;
  }
  &-2 > span:hover {
    color: rgb(255, 255, 255);
    transition: 0.2s 0.1s;
  }

  /* 6. hover-slide-down */
  &.hover-slide-down::before {
    top: 0;
    left: 0;
    right: 0;
    height: 0%;
    width: 100%;
  }
  &.hover-slide-down:hover::before {
    height: 100%;
  }

  /* 7. hover-slide-up */
  &.hover-slide-up::before {
    bottom: 0;
    left: 0;
    right: 0;
    height: 0%;
    width: 100%;
  }
  &.hover-slide-up:hover::before {
    height: 100%;
  }

  /* 8. hover-slide-left */
  &.hover-slide-left::before {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 0%;
  }
  &.hover-slide-left:hover::before {
    width: 100%;
  }

  /* 9. hover-slide-right */
  &.hover-slide-right::before {
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
  }
  &.hover-slide-right:hover::before {
    width: 100%;
  }

  /* 10. hover-opacity */
  &.hover-opacity::before {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
  &.hover-opacity:hover::before {
    opacity: 1;
  }

  /*--- btn-3 ---*/
  &-3 {
    padding: 5px;
  }
  &-3 > span {
    color: rgb(255, 255, 255);
    background-color: rgb(54, 56, 55);
  }
  &-3::before,
  &-3::after {
    background: transparent;
    z-index: 2;
  }

  /* 11. hover-border-1 */
  &.hover-border-1::before,
  &.hover-border-1::after {
    width: 10%;
    height: 25%;
    transition: 0.35s;
  }
  &.hover-border-1::before {
    top: 0;
    left: 0;
    border-left: 1px solid rgb(28, 31, 30);
    border-top: 1px solid rgb(28, 31, 30);
  }
  &.hover-border-1::after {
    bottom: 0;
    right: 0;
    border-right: 1px solid rgb(28, 31, 30);
    border-bottom: 1px solid rgb(28, 31, 30);
  }
  &.hover-border-1:hover::before,
  &.hover-border-1:hover::after {
    width: 99%;
    height: 98%;
  }

  /* 12. hover-border-2 */
  &.hover-border-2::before,
  &.hover-border-2::after {
    width: 10%;
    height: 25%;
    transition: 0.35s;
  }
  &.hover-border-2::before {
    bottom: 0;
    left: 0;
    border-left: 1px solid rgb(28, 31, 30);
    border-bottom: 1px solid rgb(28, 31, 30);
  }
  &.hover-border-2::after {
    top: 0;
    right: 0;
    border-right: 1px solid rgb(28, 31, 30);
    border-top: 1px solid rgb(28, 31, 30);
  }
  &.hover-border-2:hover::before,
  &.hover-border-2:hover::after {
    width: 99%;
    height: 99%;
  }

  /* 13. hover-border-3 */
  &.hover-border-3::before,
  &.hover-border-3::after {
    width: 0%;
    height: 0%;
    opacity: 0;
    transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
  }
  &.hover-border-3::before {
    top: 0;
    right: 0;
    border-top: 1px solid rgb(28, 31, 30);
    border-left: 1px solid rgb(28, 31, 30);
  }
  &.hover-border-3::after {
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgb(28, 31, 30);
    border-right: 1px solid rgb(28, 31, 30);
  }
  &.hover-border-3:hover::before,
  &.hover-border-3:hover::after {
    width: 100%;
    height: 99%;
    opacity: 1;
    transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;
  }

  /* 14. hover-border-4 */
  &.hover-border-4::before,
  &.hover-border-4::after {
    width: 0%;
    height: 0%;
    opacity: 0;
    transition: width 0.2s linear, height 0.15s 0.2s ease-out, opacity 0s 0.35s;
  }
  &.hover-border-4::before {
    bottom: 0;
    left: -1px;
    border-top: 1px solid rgb(28, 31, 30);
    border-left: 1px solid rgb(28, 31, 30);
  }
  &.hover-border-4::after {
    top: 0;
    right: 0;
    border-bottom: 1px solid rgb(28, 31, 30);
    border-right: 1px solid rgb(28, 31, 30);
  }
  &.hover-border-4:hover::before,
  &.hover-border-4:hover::after {
    width: 100%;
    height: 99%;
    opacity: 1;
    transition: width 0.2s 0.15s ease-out, height 0.15s ease-in, opacity 0s;
  }

  /* 15. hover-border-5 */
  &.hover-border-5::before,
  &.hover-border-5::after {
    width: 0%;
    height: 0%;
    opacity: 0;
  }
  &.hover-border-5::before {
    top: 0;
    right: 0;
    border-top: 1px solid rgb(28, 31, 30);
    border-left: 1px solid rgb(28, 31, 30);
    transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear,
      opacity 0s 0.7s;
  }
  &.hover-border-5::after {
    bottom: 0;
    left: 0px;
    border-bottom: 1px solid rgb(28, 31, 30);
    border-right: 1px solid rgb(28, 31, 30);
    transition: width 0.2s 0.15s linear, height 0.15s ease-in, opacity 0s 0.35s;
  }
  &.hover-border-5:hover::before,
  &.hover-border-5:hover::after {
    width: 100%;
    height: 96%;
    opacity: 1;
  }
  &.hover-border-5:hover::before {
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s; /* 1,2 */
  }
  &.hover-border-5:hover::after {
    transition: width 0.2s 0.35s linear, height 0.15s 0.5s ease-out,
      opacity 0s 0.3s;
  }

  /*--- btn-4 ---*/
  &-4 > span {
    color: rgb(28, 31, 30);
    background-color: rgb(245, 245, 245);
  }
  &-4 > span:hover {
    color: rgb(54, 56, 55);
  }
  &-4::before,
  &-4::after {
    width: 15%;
    height: 2px;
    background-color: rgb(54, 56, 55);
    z-index: 2;
  }

  /* 16. hover-border-6 */
  &.hover-border-6::before,
  &.hover-border-6::after {
    top: 0;
    transition: width 0.2s 0.35s ease-out;
  }
  &.hover-border-6::before {
    right: 50%;
  }
  &.hover-border-6::after {
    left: 50%;
  }
  &.hover-border-6:hover::before,
  &.hover-border-6:hover::after {
    width: 50%;
    transition: width 0.2s ease-in;
  }

  &.hover-border-6 > span::before,
  &.hover-border-6 > span::after {
    width: 0%;
    height: 0%;
    background: transparent;
    opacity: 0;
    z-index: 2;
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s 0.35s;
  }
  &.hover-border-6 > span::before {
    top: 0;
    left: 0;
    border-left: 2px solid rgb(54, 56, 55);
    border-bottom: 2px solid rgb(54, 56, 55);
  }
  &.hover-border-6 > span::after {
    top: 0;
    right: 0;
    border-right: 2px solid rgb(54, 56, 55);
    border-bottom: 2px solid rgb(54, 56, 55);
  }
  &.hover-border-6 > span:hover::before,
  &.hover-border-6 > span:hover::after {
    width: 50%;
    height: 96%;
    opacity: 1;
    transition: height 0.2s 0.2s ease-in, width 0.2s 0.4s linear,
      opacity 0s 0.2s;
  }

  /* 17. hover-border-7 */
  &.hover-border-7::before,
  &.hover-border-7::after {
    bottom: 0;
    transition: width 0.2s 0.35s ease-out;
  }
  &.hover-border-7::before {
    right: 50%;
  }
  &.hover-border-7::after {
    left: 50%;
  }
  &.hover-border-7:hover::before,
  &.hover-border-7:hover::after {
    width: 50%;
    transition: width 0.2s ease-in;
  }
  &.hover-border-7 > span::before,
  &.hover-border-7 > span::after {
    width: 0%;
    height: 0%;
    background: transparent;
    opacity: 0;
    z-index: 2;
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s 0.35s;
  }
  &.hover-border-7 > span::before {
    bottom: 0;
    left: 0;
    border-left: 2px solid rgb(54, 56, 55);
    border-top: 2px solid rgb(54, 56, 55);
    border-bottom: 2px solid rgb(54, 56, 55);
  }
  &.hover-border-7 > span::after {
    bottom: 0;
    right: 0;
    border-right: 2px solid rgb(54, 56, 55);
    border-top: 2px solid rgb(54, 56, 55);
    border-bottom: 2px solid rgb(54, 56, 55);
  }
  &.hover-border-7 > span:hover::before,
  &.hover-border-7 > span:hover::after {
    width: 50%;
    height: 96%;
    opacity: 1;
    transition: height 0.2s 0.2s ease-in, width 0.2s 0.4s linear,
      opacity 0s 0.2s;
  }

  /* 18. hover-border-8 */
  &.hover-border-8::before,
  &.hover-border-8::after {
    bottom: 0;
    width: 15%;
    transition: width 0.2s 0.35s ease-out;
  }
  &.hover-border-8::before {
    right: 50%;
  }
  &.hover-border-8::after {
    left: 50%;
  }
  &.hover-border-8:hover::before {
    width: 50%;
    transition: width 0.2s ease-in;
  }
  &.hover-border-8:hover::after {
    width: 50%;
    transition: width 0.1s ease-in;
  }
  &.hover-border-8 > span::before,
  &.hover-border-8 > span::after {
    width: 0%;
    height: 0%;
    bottom: 0;
    background: transparent;
    opacity: 0;
    z-index: 2;
  }
  &.hover-border-8 > span::before {
    left: 0%;
    border-left: 2px solid rgb(54, 56, 55);
    transition: height 0.25s ease-in, opacity 0s 0.35s;
  }
  &.hover-border-8 > span:hover::before {
    height: 96%;
    opacity: 1;
    transition: height 0.25s 0.2s ease-out, opacity 0s 0.2s;
  }
  &.hover-border-8 > span::after {
    right: 0%;
    border-right: 2px solid rgb(54, 56, 55);
    border-top: 2px solid rgb(54, 56, 55);
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s 0.35s;
  }
  &.hover-border-8 > span:hover::after {
    width: 99%;
    height: 96%;
    opacity: 1;
    transition: height 0.15s 0.1s linear, width 0.2s 0.25s linear,
      opacity 0s 0.1s;
  }

  /* 19. hover-border-9 */
  &.hover-border-9::before,
  &.hover-border-9::after {
    bottom: 0;
    width: 15%;
    transition: width 0.2s 0.35s ease-out;
  }
  &.hover-border-9::before {
    right: 50%;
  }
  &.hover-border-9::after {
    left: 50%;
  }
  &.hover-border-9:hover::before {
    width: 50%;
    transition: width 0.1s ease-in;
  }
  &.hover-border-9:hover::after {
    width: 50%;
    transition: width 0.2s ease-in;
  }

  &.hover-border-9 > span::before,
  &.hover-border-9 > span::after {
    width: 0%;
    height: 0%;
    bottom: 0;
    background: transparent;
    opacity: 0;
    z-index: 2;
  }
  &.hover-border-9 > span::after {
    right: 0%;
    border-right: 2px solid rgb(54, 56, 55);
    transition: height 0.25s ease-in, opacity 0s 0.35s;
  }
  &.hover-border-9 > span:hover::after {
    height: 96%;
    opacity: 1;
    transition: height 0.25s 0.2s ease-out, opacity 0s 0.2s;
  }
  &.hover-border-9 > span::before {
    left: 0%;
    border-left: 2px solid rgb(54, 56, 55);
    border-top: 2px solid rgb(54, 56, 55);
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s 0.35s;
  }
  &.hover-border-9 > span:hover::before {
    width: 98.5%;
    height: 96%;
    opacity: 1;
    transition: height 0.15s 0.1s linear, width 0.2s 0.25s linear,
      opacity 0s 0.1s;
  }

  /* 20. hover-border-10 */
  &.hover-border-10::before,
  &.hover-border-10::after {
    left: 0%;
    height: 30%;
    width: 2px;
    transition: height 0.2s 0.35s ease-out;
  }
  &.hover-border-10::before {
    top: 50%;
  }
  &.hover-border-10::after {
    bottom: 50%;
  }
  &.hover-border-10:hover::before {
    height: 50%;
    transition: height 0.2s ease-in;
  }

  &.hover-border-10:hover::after {
    height: 50%;
    transition: height 0.1s ease-in;
  }

  &.hover-border-10 > span::before,
  &.hover-border-10 > span::after {
    width: 0%;
    height: 0%;
    background: transparent;
    opacity: 0;
    z-index: 2;
  }

  &.hover-border-10 > span::after {
    bottom: 0;
    left: 0%;
    border-bottom: 2px solid rgb(54, 56, 55);
    transition: width 0.25s ease-in, opacity 0s 0.35s;
  }
  &.hover-border-10 > span:hover::after {
    width: 100%;
    opacity: 1;
    transition: width 0.25s 0.2s ease-out, opacity 0s 0.2s;
  }
  &.hover-border-10 > span::before {
    top: 0%;
    left: 0%;
    border-top: 2px solid rgb(54, 56, 55);
    border-right: 2px solid rgb(54, 56, 55);
    transition: height 0.15s ease-in, width 0.2s 0.15s linear, opacity 0s 0.35s;
  }
  &.hover-border-10 > span:hover::before {
    width: 98.5%;
    height: 96%;
    opacity: 1;
    transition: width 0.2s 0.1s linear, height 0.15s 0.3s ease-out,
      opacity 0s 0.1s;
  }

  /*--- btn-5 ---*/
  &-5 > span {
    color: rgb(28, 31, 30);
    border: 2px solid rgb(249, 211, 27);
    transition: 0.2s;
  }
  &-5 > span:hover {
    background-color: rgb(245, 245, 245);
  }

  /* 21. hover-border-11 */
  &.hover-border-11::before,
  &.hover-border-11::after {
    width: 100%;
    height: 2px;
    background-color: rgb(54, 56, 55);
    z-index: 2;
    transition: 0.35s;
  }
  &.hover-border-11::before {
    top: 0;
    right: 0;
  }
  &.hover-border-11::after {
    bottom: 0;
    left: 0;
  }
  &.hover-border-11:hover::before,
  &.hover-border-11:hover::after {
    width: 0%;
    transition: 0.2s 0.2s ease-out;
  }

  &.hover-border-11 > span::before,
  &.hover-border-11 > span::after {
    width: 2px;
    height: 100%;
    background-color: rgb(54, 56, 55);
    z-index: 2;
    transition: 0.25s;
  }
  &.hover-border-11 > span::before {
    bottom: 0;
    right: -2px;
  }
  &.hover-border-11 > span::after {
    top: 0;
    left: -2px;
  }
  &.hover-border-11 > span:hover::before,
  &.hover-border-11 > span:hover::after {
    height: 0%;
  }
}

.bg-primary-before::before {
  background-color: #0d6efd;
}

.bg-primary-after::after {
  background-color: #0d6efd;
}

.bg-primary-before_nb::before {
  background-color: #0d6efd !important;
}

.bg-primary-after_nb::after {
  background-color: #0d6efd !important;
}

.border-primary-before::before {
  border-color: #0d6efd;
}

.border-primary-after::after {
  border-color: #0d6efd;
}

.border-primary-before_nb::before {
  border-color: #0d6efd !important;
}

.border-primary-after_nb::after {
  border-color: #0d6efd !important;
}

.bg-secondary-before::before {
  background-color: #6c757d;
}

.bg-secondary-after::after {
  background-color: #6c757d;
}

.bg-secondary-before_nb::before {
  background-color: #6c757d !important;
}

.bg-secondary-after_nb::after {
  background-color: #6c757d !important;
}

.border-secondary-before::before {
  border-color: #6c757d;
}

.border-secondary-after::after {
  border-color: #6c757d;
}

.border-secondary-before_nb::before {
  border-color: #6c757d !important;
}

.border-secondary-after_nb::after {
  border-color: #6c757d !important;
}

.bg-success-before::before {
  background-color: #198754;
}

.bg-success-after::after {
  background-color: #198754;
}

.bg-success-before_nb::before {
  background-color: #198754 !important;
}

.bg-success-after_nb::after {
  background-color: #198754 !important;
}

.border-success-before::before {
  border-color: #198754;
}

.border-success-after::after {
  border-color: #198754;
}

.border-success-before_nb::before {
  border-color: #198754 !important;
}

.border-success-after_nb::after {
  border-color: #198754 !important;
}

.bg-info-before::before {
  background-color: #0dcaf0;
}

.bg-info-after::after {
  background-color: #0dcaf0;
}

.bg-info-before_nb::before {
  background-color: #0dcaf0 !important;
}

.bg-info-after_nb::after {
  background-color: #0dcaf0 !important;
}

.border-info-before::before {
  border-color: #0dcaf0;
}

.border-info-after::after {
  border-color: #0dcaf0;
}

.border-info-before_nb::before {
  border-color: #0dcaf0 !important;
}

.border-info-after_nb::after {
  border-color: #0dcaf0 !important;
}

.bg-warning-before::before {
  background-color: #ffc107;
}

.bg-warning-after::after {
  background-color: #ffc107;
}

.bg-warning-before_nb::before {
  background-color: #ffc107 !important;
}

.bg-warning-after_nb::after {
  background-color: #ffc107 !important;
}

.border-warning-before::before {
  border-color: #ffc107;
}

.border-warning-after::after {
  border-color: #ffc107;
}

.border-warning-before_nb::before {
  border-color: #ffc107 !important;
}

.border-warning-after_nb::after {
  border-color: #ffc107 !important;
}

.bg-danger-before::before {
  background-color: rgb(220, 53, 69);
}

.bg-danger-after::after {
  background-color: rgb(220, 53, 69);
}

.bg-danger-before_nb::before {
  background-color: rgb(220, 53, 69) !important;
}

.bg-danger-after_nb::after {
  background-color: rgb(220, 53, 69) !important;
}

.border-danger-before::before {
  border-color: rgb(220, 53, 69);
}

.border-danger-after::after {
  border-color: rgb(220, 53, 69);
}

.border-danger-before_nb::before {
  border-color: rgb(220, 53, 69) !important;
}

.border-danger-after_nb::after {
  border-color: rgb(220, 53, 69) !important;
}

.object-fit-contain {
  object-fit: contain;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-fill {
  object-fit: fill;
}

.object-fit-scale {
  object-fit: scale-down;
}

.object-fit-none {
  object-fit: none;
}

@for $i from 1 through 9 {
  .wght-#{$i} {
    font-weight: calc($i * 100);
  }
}

@for $i from 1 through 12 {
  .order-#{$i} {
    order: $i;
  }

  .span-#{$i} {
    grid-column: span $i;
  }

  .spany-#{$i} {
    grid-row: span $i;
  }

  .cols-#{$i} {
    grid-template-columns: repeat($i, 1fr);
  }

  .cols-#{$i}-auto {
    grid-template-columns: repeat($i, auto);
  }

  .rows-#{$i} {
    grid-template-rows: repeat($i, 1fr);
  }

  .rows-#{$i}-auto {
    grid-template-rows: repeat($i, auto);
  }

  .rows-#{$i}-min {
    grid-template-rows: repeat($i, min-content);
  }

  .child-span-#{$i} > * {
    grid-column: span $i;
  }

  .child-spany-#{$i} > * {
    grid-row: span $i;
  }

  .child-cols-#{$i} > * {
    grid-template-columns: repeat($i, 1fr);
  }

  .child-cols-#{$i}-auto > * {
    grid-template-columns: repeat($i, auto);
  }

  .child-rows-#{$i} > * {
    grid-template-rows: repeat($i, 1fr);
  }

  .child-rows-#{$i}-auto > * {
    grid-template-rows: repeat($i, auto);
  }

  .z-index-#{$i} {
    z-index: $i;
  }
}

@media only screen and (min-width: 576px) {
  .overflow-sm-auto {
    overflow: auto;
  }

  .position-sm-relative {
    position: relative;
  }

  .position-sm-absolute {
    position: absolute;
  }

  .span-sm-full {
    grid-column: 1/-1;
  }

  .spany-sm-full {
    grid-rows: 1/-1;
  }

  @for $i from 1 through 12 {
    .order-sm-#{$i} {
      order: $i;
    }

    .span-sm-#{$i} {
      grid-column: span $i;
    }

    .spany-sm-#{$i} {
      grid-row: span $i;
    }

    .cols-sm-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }

    .cols-sm-#{$i}-auto {
      grid-template-columns: repeat($i, auto);
    }

    .rows-sm-#{$i} {
      grid-template-rows: repeat($i, 1fr);
    }

    .rows-sm-#{$i}-auto {
      grid-template-rows: repeat($i, auto);
    }

    .child-span-sm-#{$i} > * {
      grid-column: span $i;
    }

    .child-spany-sm-#{$i} > * {
      grid-row: span $i;
    }

    .child-cols-sm-#{$i} > * {
      grid-template-columns: repeat($i, 1fr);
    }

    .child-cols-sm-#{$i}-auto > * {
      grid-template-columns: repeat($i, auto);
    }

    .child-rows-sm-#{$i} > * {
      grid-template-rows: repeat($i, 1fr);
    }

    .child-rows-sm-#{$i}-auto > * {
      grid-template-rows: repeat($i, auto);
    }

    .z-index-sm-#{$i} {
      z-index: $i;
    }

    .child-gap-sm-1 > * {
      gap: 0.25rem !important;
    }

    .child-gap-sm-2 > * {
      gap: 0.5rem !important;
    }

    .child-gap-sm-3 > * {
      gap: 1rem !important;
    }

    .child-gap-sm-4 > * {
      gap: 1.5rem !important;
    }

    .child-gap-sm-5 > * {
      gap: 3rem !important;
    }
  }
}

@media only screen and (min-width: 768px) {
  .overflow-md-auto {
    overflow: auto;
  }

  .position-md-relative {
    position: relative;
  }

  .position-md-absolute {
    position: absolute;
  }

  .span-md-full {
    grid-column: 1/-1;
  }

  .spany-md-full {
    grid-rows: 1/-1;
  }

  @for $i from 1 through 12 {
    .order-md-#{$i} {
      order: $i;
    }

    .span-md-#{$i} {
      grid-column: span $i;
    }

    .spany-md-#{$i} {
      grid-row: span $i;
    }
    .cols-md-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
    .cols-md-#{$i}-auto {
      grid-template-columns: repeat($i, auto);
    }
    .rows-md-#{$i} {
      grid-template-rows: repeat($i, 1fr);
    }

    .rows-md-#{$i}-auto {
      grid-template-rows: repeat($i, auto);
    }

    .child-spany-md-#{$i} > * {
      grid-row: span $i;
    }
    .child-cols-md-#{$i} > * {
      grid-template-columns: repeat($i, 1fr);
    }
    .child-cols-md-#{$i}-auto > * {
      grid-template-columns: repeat($i, auto);
    }
    .child-rows-md-#{$i} > * {
      grid-template-rows: repeat($i, 1fr);
    }

    .child-rows-md-#{$i}-auto > * {
      grid-template-rows: repeat($i, auto);
    }

    .z-index-md-#{$i} {
      z-index: $i;
    }

    .child-gap-md-1 > * {
      gap: 0.25rem !important;
    }

    .child-gap-md-2 > * {
      gap: 0.5rem !important;
    }

    .child-gap-md-3 > * {
      gap: 1rem !important;
    }

    .child-gap-md-4 > * {
      gap: 1.5rem !important;
    }

    .child-gap-md-5 > * {
      gap: 3rem !important;
    }
  }
}

@media only screen and (min-width: 992px) {
  .overflow-lg-auto {
    overflow: auto;
  }

  .position-lg-relative {
    position: relative;
  }

  .position-lg-absolute {
    position: absolute;
  }

  .span-lg-full {
    grid-column: 1/-1;
  }

  .spany-lg-full {
    grid-rows: 1/-1;
  }

  @for $i from 1 through 12 {
    .order-lg-#{$i} {
      order: $i;
    }

    .span-lg-#{$i} {
      grid-column: span $i;
    }

    .spany-lg-#{$i} {
      grid-row: span $i;
    }
    .cols-lg-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
    .cols-lg-#{$i}-auto {
      grid-template-columns: repeat($i, auto);
    }
    .rows-lg-#{$i} {
      grid-template-rows: repeat($i, 1fr);
    }

    .rows-lg-#{$i}-auto {
      grid-template-rows: repeat($i, auto);
    }

    .child-span-lg-#{$i} > * {
      grid-column: span $i;
    }

    .child-spany-lg-#{$i} > * {
      grid-row: span $i;
    }
    .child-cols-lg-#{$i} > * {
      grid-template-columns: repeat($i, 1fr);
    }
    .child-cols-lg-#{$i}-auto > * {
      grid-template-columns: repeat($i, auto);
    }
    .child-rows-lg-#{$i} > * {
      grid-template-rows: repeat($i, 1fr);
    }

    .child-rows-lg-#{$i}-auto > * {
      grid-template-rows: repeat($i, auto);
    }

    .z-index-lg-#{$i} {
      z-index: $i;
    }

    .child-gap-lg-1 > * {
      gap: 0.25rem !important;
    }

    .child-gap-lg-2 > * {
      gap: 0.5rem !important;
    }

    .child-gap-lg-3 > * {
      gap: 1rem !important;
    }

    .child-gap-lg-4 > * {
      gap: 1.5rem !important;
    }

    .child-gap-lg-5 > * {
      gap: 3rem !important;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .overflow-xl-auto {
    overflow: auto;
  }

  .position-xl-relative {
    position: relative;
  }

  .position-xl-absolute {
    position: absolute;
  }

  .span-xl-full {
    grid-column: 1/-1;
  }

  .spany-xl-full {
    grid-rows: 1/-1;
  }

  @for $i from 1 through 12 {
    .order-xl-#{$i} {
      order: $i;
    }

    .span-xl-#{$i} {
      grid-column: span $i;
    }

    .spany-xl-#{$i} {
      grid-row: span $i;
    }

    .cols-xl-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }

    .cols-lg-#{$i}-auto {
      grid-template-columns: repeat($i, auto);
    }

    .rows-xl-#{$i} {
      grid-template-rows: repeat($i, 1fr);
    }

    .rows-xl-#{$i}-auto {
      grid-template-rows: repeat($i, auto);
    }

    .child-span-xl-#{$i} > * {
      grid-column: span $i;
    }

    .child-spany-xl-#{$i} > * {
      grid-row: span $i;
    }

    .child-cols-xl-#{$i} > * {
      grid-template-columns: repeat($i, 1fr);
    }

    .child-cols-lg-#{$i}-auto > * {
      grid-template-columns: repeat($i, auto);
    }

    .child-rows-xl-#{$i} > * {
      grid-template-rows: repeat($i, 1fr);
    }

    .child-rows-xl-#{$i}-auto > * {
      grid-template-rows: repeat($i, auto);
    }

    .z-index-xl-#{$i} {
      z-index: $i;
    }

    .child-gap-xl-1 > * {
      gap: 0.25rem !important;
    }

    .child-gap-xl-2 > * {
      gap: 0.5rem !important;
    }

    .child-gap-xl-3 > * {
      gap: 1rem !important;
    }

    .child-gap-xl-4 > * {
      gap: 1.5rem !important;
    }

    .child-gap-xl-5 > * {
      gap: 3rem !important;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .overflow-xxl-auto {
    overflow: auto;
  }

  .position-xxl-relative {
    position: relative;
  }

  .position-xxl-absolute {
    position: absolute;
  }

  .span-xxl-full {
    grid-column: 1/-1;
  }

  .spany-xxl-full {
    grid-rows: 1/-1;
  }

  @for $i from 1 through 12 {
    .order-xxl-#{$i} {
      order: $i;
    }

    .span-xxl-#{$i} {
      grid-column: span $i;
    }

    .spany-xxl-#{$i} {
      grid-row: span $i;
    }

    .cols-xxl-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }

    .cols-xxl-#{$i}-auto {
      grid-template-columns: repeat($i, auto);
    }

    .rows-xxl-#{$i} {
      grid-template-rows: repeat($i, 1fr);
    }

    .rows-xxl-#{$i}-auto {
      grid-template-rows: repeat($i, auto);
    }

    .child-span-xxl-#{$i} > * {
      grid-column: span $i;
    }

    .child-spany-xxl-#{$i} > * {
      grid-row: span $i;
    }

    .child-cols-xxl-#{$i} > * {
      grid-template-columns: repeat($i, 1fr);
    }

    .child-cols-xxl-#{$i}-auto > * {
      grid-template-columns: repeat($i, auto);
    }

    .child-rows-xxl-#{$i} > * {
      grid-template-rows: repeat($i, 1fr);
    }

    .child-rows-xxl-#{$i}-auto > * {
      grid-template-rows: repeat($i, auto);
    }

    .z-index-xxl-#{$i} {
      z-index: $i;
    }

    .child-gap-xxl-1 > * {
      gap: 0.25rem !important;
    }

    .child-gap-xxl-2 > * {
      gap: 0.5rem !important;
    }

    .child-gap-xxl-3 > * {
      gap: 1rem !important;
    }

    .child-gap-xxl-4 > * {
      gap: 1.5rem !important;
    }

    .child-gap-xxl-5 > * {
      gap: 3rem !important;
    }
  }
}

@media only screen and (min-width: 1700px) {
  @for $i from 1 through 12 {
    .cols-1700-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}

@media only screen and (min-width: 2000px) {
  @for $i from 1 through 12 {
    .cols-2000-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}
