@use "@/styles/mixins.module.scss" as mixins;

.Compare {
  position: fixed;
  left: 0;
  bottom: calc(50rem / 16);
  z-index: 1;

  @include mixins.lg {
    bottom: 0;
  }
}

.CompareText {
  font-size: mixins.$fs-1;
}

.CompareItems {
  & > * {
    background-color: mixins.$black-5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(8rem / 16);
    cursor: pointer;
    border: 1px solid transparent;
    transition: 250ms all ease-in-out;

    &:hover {
      border: 1px solid white;
    }
  }

  & img {
    height: calc(35rem / 16);
    width: 100%;
    object-fit: contain;
  }
}

.CompareTooltip {
  --bs-tooltip-bg: var(--bs-primary);
}
