@use "@/styles/mixins.module.scss" as mixins;

.Overview {
  & :global([class^="col"]) {
    float: left;
  }

  & :global(img) {
    max-width: 100%;
    height: auto;
  }

  & :global(.pt-10) {
    padding-top: 10px;
  }

  & :global(.pb-10) {
    padding-bottom: 10px;
  }

  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

.Pagination {
  position: sticky;
  top: 3.5rem;
  z-index: 1;

  @include mixins.xl {
    top: calc(95rem / 16);
  }

  & :global(.pagination) {
    margin: 0;
  }
}

.SmallSelect {
  width: unset;
  font-size: 0.875em;
}

.Form {
  font-size: 0.875em;
}

.RangeSlider {
  position: fixed;
  bottom: 10rem;
  width: 100%;
}

.pageNumbers {
  list-style: none;
  display: flex;

  & li {
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;

    &:global(.active) {
      background-color: lightblue;
    }
  }
}

.DynamicIntro {
  & :global(img) {
    max-width: 100%;
    height: auto;
  }
}
