@use "@/styles/mixins.module.scss" as mixins;

.product_card {
  transition: 300ms;
}

.product_card:hover {
  transform: scale(1.03);
}

/* a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  } */

.price_tag {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  & > *:nth-child(1) {
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: calc(28rem / 16);
  }

  & :global(small) {
    font-size: calc(11rem / 16) !important;
  }
}

.tags {
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px;
}

.tags h3 {
  margin-bottom: 8px;
  padding-top: 1px;
  display: block;
  position: unset;
  border-radius: 0.4rem;
}

.tags .product_on_special {
  background: hsl(0, 100%, 40%);
}

.tags .product_on_special_text {
  color: white;
  font-size: 14px;
  padding: 0.3rem;
}

.SmallPrices {
  justify-content: flex-end;

  @include mixins.sm {
    width: 50%;
  }
}

.CardImage {
  height: calc(175rem / 16);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  @include mixins.md {
    height: calc(280rem / 16);
  }
}

.CardTitle {
  height: calc(45rem / 16);
  font-size: mixins.$fs-3;
  background-color: inherit !important;
}

.CardHighlight {
  & :global(.list-group-item) {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: inherit;
    padding-left: 0 !important;
    padding-right: 0 !important;
    // font-size: 11px !important;
  }
}

.CardPic {
  object-fit: contain;
  height: 100%;
}

.StockStatus {
  text-align: center;
  font-size: mixins.$fs-4;
}

.Was {
  font-size: mixins.$fs-1;
}

.Body {
  grid-template-rows: auto auto 1fr auto auto;
}
