.Spinner {
  transform-origin: center;
  animation-name: rotate;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}