@use "@/styles/mixins.module.scss" as mixins;
.Main {
  background: mixins.$pink-gradient-1;
  text-align: center;
  z-index: 1;
  position: relative;
}

.Paragraph {
  color: white;
  margin-bottom: 0;

  &.Closed {
    height: 1.5rem;
    overflow: hidden;
  }
}

.Link {
  color: white;
  text-decoration: none;
  background-color: mixins.$black-3;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 1rem;
  display: inline-block;

  &:hover {
    color: white;
    background-color: mixins.$black-8;
  }
}

.Icon {
  color: white;
  cursor: pointer;
}
