@use "@/styles/mixins.module.scss" as mixins;

.Price {
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem;

  &.darkMode {
    background: linear-gradient(144deg, #93edc7, #1cd8d2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include mixins.lg {
    font-size: calc(1.275rem + 0.3vw);
  }
}
