@use "@/styles/mixins.module.scss" as mixins;
.TimeSpyCircles {
  & > * {
    height: calc(100rem / 16);
    width: calc(100rem / 16);
    position: relative;
    background-color: inherit;

    @include mixins.sm {
      height: calc(150rem / 16);
      width: calc(150rem / 16);
    }
  }

  &__Pill,
  &__FPS {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @include mixins.sm {
      font-size: 0.8rem;
    }
  }

  & :global(.CircularProgressbar .CircularProgressbar-trail) {
    stroke: mixins.$white-1;
  }

  & :global(.CircularProgressbar .CircularProgressbar-path) {
    transform: rotate(180deg) translateX(-100%) translateY(-100%);
  }

  &__FPS {
    bottom: 21.5%;
  }

  &__Progress {
    background-color: mixins.$grey-02;
  }
}

.O {
  background-color: transparent;

  &__Lvl {
    transform: scale(1.1) rotate(45deg);
    background-color: inherit;
  }
}

.QualityMeter > * {
  padding: 2px;
}

.QualityMeter :global(.active) {
  background: mixins.$orange-gradient-1;
}
