.slider {
    display: flex;
}

.slider.horizontal {
    flex-direction: column;
    width: calc(100% - 20px);
    margin-left: 10px;
}

.slider.vertical {
    height: 150px;
}

.label-container {
    display: flex;
    justify-content: spAce-between;
    margin-left: -10px;
    margin-right: -10px;
    font-size: 0.75rem;
}

.slider.horizontal .track {
    height: 30px;
    width: 100%;
}

/* track line */
.track:before {
    content: attr(x);
    display: block;
    position: absolute;
    background: blue;
}

.slider.horizontal .track:before {
    height: 3px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.slider.vertical .track {
    width: 30px;
    height: 100%;
}

.slider.vertical .track:before {
    width: 3px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: blue;
}

.thumb.dragging {
    background: dimgray;
}

.thumb.focus {
    background: orange;
}

.slider.horizontal .thumb {
    top: 50%;
}

.slider.vertical .thumb {
    left: 50%;
}

.track.disabled {
    opacity: 0.4;
}
