@use "@/styles/mixins.module.scss" as mixins;

@keyframes loveAppear {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 31px;
  }
}

.Header {
  top: 3.5rem;
  z-index: 1;
  padding-right: 75px;

  @include mixins.xl {
    top: 5.7rem;
  }

  @media (min-width: 1800px) {
    top: 6.2rem;
  }
}

.GridCards {
  & > * {
    transition: ease-in-out 250ms all;
  }

  &
    > *
    :global(.card-body)
    *:nth-of-type(2)
    *:nth-of-type(2)
    span:nth-of-type(1) {
    display: none;
  }

  & > * :global(.card-body) *:nth-of-type(2) *:nth-of-type(2) {
    grid-template-columns: 1fr !important;
  }

  & > *:hover :global(.card-body) *:nth-of-type(2) *:nth-of-type(2) {
    grid-template-columns: 1fr 31px !important;
  }

  &
    > *:hover
    :global(.card-body)
    *:nth-of-type(2)
    *:nth-of-type(2)
    span:nth-of-type(2) {
    animation-name: loveAppear;
    animation-duration: 250ms;
  }

  & > *:nth-of-type(1) :global(.card-body) *:nth-of-type(2) *:nth-of-type(2) {
    grid-template-columns: 1fr 31px !important;
  }

  & > *:nth-of-type(2) {
    transform: scale(1.03);
  }

  &
    > *:nth-of-type(1)
    :global(.card-body)
    *:nth-of-type(2)
    *:nth-of-type(2)
    span:nth-of-type(1) {
    display: block;
  }

  &
    > *:nth-of-type(1)
    :global(.card-body)
    *:nth-of-type(2)
    *:nth-of-type(2)
    span:nth-of-type(2) {
    display: none;
  }

  &
    > *:nth-of-type(2)
    :global(.card-body)
    *:nth-of-type(2)
    *:nth-of-type(2)
    span:nth-of-type(1) {
    display: none;
  }

  &
    > *:nth-of-type(2)
    :global(.card-body)
    *:nth-of-type(2)
    *:nth-of-type(2)
    span:nth-of-type(2) {
    display: block;
  }
}
